body{
	background: url(https://cdn.discordapp.com/attachments/817489298450153502/817506322207080548/background.webp);
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}
.head{
	border-radius: 9px;
	background: #171717;
	position: fixed;
	width: 98%;
	left: 50%;
	transform: translate(-50%, 0);
}
.header{
	padding: 5px;
	padding-left: 20px;
	text-align: left;
	color: white;
	font-family: Verdana;
	background: url(https://cdn.discordapp.com/attachments/817489298450153502/817489870012416011/background_inverted.webp);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 9px;
}
.navs{
	text-align: right;
	background: none;
	border-radius: 9px;
	padding-right: 20px;
	transition: 0.25s;
}
.navs:hover{
	padding-top: 6px;
	transition: 0.5s;
}
.navbutton{
	background: none;
	color: white;
	border: none;
	outline: none;
	transition: 0.25s;
	border-radius: 9px;
	font-size: 16px;
}
.navbutton:hover{
	color: black;
	background: white;
	transition: 0.25s;
	cursor: pointer;
	font-size: 18px;
}
.navbuttonyt{
	background: none;
	color: white;
	border: none;
	outline: none;
	transition: 0.25s;
	border-radius: 9px;
	font-size: 16px;
}
.navbuttonyt:hover{
	color: white;
	background: red;
	transition: 0.25s;
	cursor: pointer;
	font-size: 18px;
}
.currentnav{
	background: #DDDDDD;
	color: #171717;
	border: none;
	outline: none;
	transition: 0.25s;
	border-radius: 9px;
	font-size: 16px;
}
.currentnav:hover{
	color: #171717;
	background: white;
	transition: 0.25s;
	font-size: 18px;
}

.body{
	background: #171717;
	border-radius: 9px;
	color: white;
	font-family: sans-serif;
	width: 98%;
	margin: auto;
}
.body-index{
	background: #171717;
	border-radius: 9px;
	color: white;
	font-family: sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 98%;
	margin: auto;
}
.body h1{
	padding-top: 10px;
}
.body p{
	padding-top: 2px;
	font-family: verdana;
}

.image{
	background: url(https://cdn.discordapp.com/attachments/817489298450153502/817489515013996554/logo.webp);
	background-size: cover;
	width: 250px;
	height: 250px;
	margin: auto;
	border-radius: 250px;
	box-shadow: 0 0px 16px 0 #313131, inset 0 0px 8px #202020;
}
.idk{
	background: none;
	width: 100%;
	height: 10px;
	padding-top: 10px;
	position: background;
}
.idke{
	background: none;
	width: 100%;
	height: 150px;
	padding-top: 10px;
}


.releasebody{
	text-align: center;
	padding-bottom: 10px;
}

.releasedownload{
	text-decoration: none;
}



.releaseart{
	width: 200px;
	height: 200px;
	border-radius: 9px;
	text-decoration: none;
	transition: 0.25s;
}
.releaseart:hover{
	width: 210px;
	height: 210px;
	transition: 0.25s;
}
.releaseinfoart{
	width: 350px;
	height: 350px;
	border-radius: 18px;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.trackfull{
	padding: 2px;
	background-color: #202020;
	border-radius: 9px;
}





.faqbox1{
	padding: 2px;
	background: #181818;
	border: 2px solid #323232;
	border-radius: 9px;
	text-align: center;
}
.faqbox2{
	padding: 2px;
	background: #323232;
	border: 2px solid #181818;
	border-radius: 9px;
	text-align: center;
}
.faqbox1 h3{
	font-size: 20px;
}
.faqbox1 h4{
	font-weight: 100;
}
.faqbox2 h3{
	font-size: 20px;
}
.faqbox2 h4{
	font-weight: 100;
}