body{
	background: url(https://cdn.discordapp.com/attachments/817489298450153502/823505393648664636/Untitled23_20210220212032.webp);
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}
.head{
	border-radius: 9px;
	background: white;
	position: fixed;
	width: 98%;
	left: 50%;
	transform: translate(-50%, 0);
}
.header{
	padding: 5px;
	padding-left: 20px;
	text-align: left;
	color: black;
	font-family: Verdana;
	background: url(https://cdn.discordapp.com/attachments/817489298450153502/817506322207080548/background.webp);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 9px;
}
.navs{
	text-align: right;
	background: none;
	border-radius: 9px;
	padding-right: 20px;
	transition: 0.25s;
}
.navs:hover{
	padding-top: 6px;
	transition: 0.5s;
}
.navbutton{
	background: none;
	color: black;
	border: none;
	outline: none;
	transition: 0.25s;
	border-radius: 9px;
	font-size: 16px;
}
.navbutton:hover{
	color: black;
	background: #ececec;
	transition: 0.25s;
	cursor: pointer;
	font-size: 18px;
}
.navbuttonyt{
	background: none;
	color: black;
	border: none;
	outline: none;
	transition: 0.25s;
	border-radius: 9px;
	font-size: 16px;
}
.navbuttonyt:hover{
	color: white;
	background: red;
	transition: 0.25s;
	cursor: pointer;
	font-size: 18px;
}

.body{
	background: #e9e9e9;
	border-radius: 9px;
	color: black;
	font-family: sans-serif;
	width: 98%;
	margin: auto;
}
.body h1{
	padding-top: 10px;
}
.body p{
	padding-top: 2px;
	font-family: verdana;
}

}
.kek{
	background: none;
	width: 100%;
	height: 10px;
	padding-top: 10px;
}
.idke{
	background: none;
	width: 100%;
	height: 150px;
	padding-top: 10px;
}


.releasebody{
	text-align: center;
	padding-bottom: 10px;
}

.releasedownload{
	text-decoration: none;
}



.releaseinfoart{
	width: 350px;
	height: 350px;
	border-radius: 18px;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.trackfull{
	padding: 2px;
	background-color: #d0d0d0;
	border-radius: 9px;
}





.faqbox1{
	padding: 2px;
	background: #181818;
	border: 2px solid #323232;
	border-radius: 9px;
	text-align: center;
}
.faqbox2{
	padding: 2px;
	background: #323232;
	border: 2px solid #181818;
	border-radius: 9px;
	text-align: center;
}
.faqbox1 h3{
	font-size: 20px;
}
.faqbox1 h4{
	font-weight: 100;
}
.faqbox2 h3{
	font-size: 20px;
}
.faqbox2 h4{
	font-weight: 100;
}

.layreboilogo{
	background: url(https://cdn.discordapp.com/attachments/817489298450153502/817489515013996554/logo.webp);
	height: 100px;
	width: 100px;
	background-size: cover;
	display: inline-block;
}
.ttien63logo{
	background: url(https://cdn.discordapp.com/attachments/817489298450153502/823531232305479680/Untitled38_20210322131633.webp);
	height: 100px;
	width: 100px;
	background-size: cover;
	display: inline-block;
}
.ttien63logo:hover{
	cursor: pointer;
}