body{
	margin: 0;
	background: url(https://cdn.discordapp.com/attachments/817489298450153502/823505393648664636/Untitled23_20210220212032.webp);
	background-size: cover;
	background-repeat: 0;
	background-attachment: fixed;
}
.logo:hover{
	height: 110px;
	transition: 0.25s;
}
.navbut:hover{
	transition: 0.25s;
	margin-left: 8px;
	font-size: 25px;
}
.nytbut{
	font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
	transition: 0.25s;
	margin-left: 5px;
	background-color: #ff0000;
}
.body{
	padding-top: 130px;
}
.releasebody{
	text-align: center;
	padding-bottom: 10px;
}

.releasedownload{
	text-decoration: none;
}