.nodec{
	text-decoration: none;
}
.navbut{
	font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
	transition: 0.25s;
	margin-left: 5px;
}
body{
	font-family: sans-serif;
	color: white;
}
.nytbut:hover{
	transition: 0.25s;
	margin-left: 8px;
	font-size: 25px;
}
.navigation{
	right: 2px;
}
.gawrguraidk{
	margin-bottom: 2px;
}
.leertaste{
	padding-top:8px;
}
.releaseart{
	width: 200px;
	height: 200px;
	border-radius: 9px;
	text-decoration: none;
	transition: 0.25s;
}
.releaseart:hover{
	width: 210px;
	height: 210px;
	transition: 0.25s;
}